.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

element.style {
}
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  font-weight: 50px;
  color: #232f35;
  background-color: white;
}
#whichquestion a {
  padding: 50px;
  font-size: 20px;
  font-stretch: expanded;
}

bar {
  background: orange !important;
  width: 250px;
  height: 100vh;
  flex-direction: column;
  position: absolute;
}

#logout a {
  text-align: center;
  display: block;
  font-size: 150px;
  border-color: black;
}

.App @media (min-width: 992px) {
}
